streamlit
langchain==0.1.0
langchain-community==0.0.13
langchain-core==0.1.10
langchain-groq==0.0.1
langchain-text-splitters==0.0.1
pypdf2
transformers>=4.30.0
torch
faiss-cpu
python-dotenv
duckduckgo-search
numpy